body{
    background-image: url("./../images/background.jpg");
    background-size: cover;

}
h1{
    margin-top: 50px;
    display: inline-block;
    justify-content: flex-end;
}

.header_img{
    display: inline-block;
}

@media screen and (max-width: 768px) {
    h1{
        margin-left: 80px;
        margin-top:10px

    }

    .header_img{
        width: 500px;
    }

}

@media screen and (max-width:543px){
    .header_img{
        
    } 
}

@media screen and (max-width:460 px){
    h1{
        font-size: 30px;
        margin-left: 50px;
        margin-top: 10px;
    }

    .header_img{
        width: 100px;
        
    }


}